<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head th:replace="fragments.html :: head"></head>
<body class="bg-light">
    <nav th:replace="fragments.html :: main-nav"></nav>
    <div th:replace="fragments.html :: study-banner"></div>
    <div class="container">
        <div class="row py-4 text-left justify-content-center bg-light">
            <div class="col-6">
                <h2><a th:href="@{'/study/' + ${study.path}}"><span th:text="${study.title}"></span>스터디</a>
                    /<span th:text="${event.title}"></span></h2>
            </div>
            <div class="col-4 text-right justify-content-end">
                <span sec:authorize="isAuthenticated">
                    <button th:if="${event.isEnrollableFor(#authentication.principal)}"
                            class="btn btn-outline-primary" data-toggle="modal" data-target="#enroll">
                        <i class="fa fa-plus-circle"></i>참가 신청
                    </button>
                    <button th:if="${event.isDisenrollableFor(#authentication.principal)}"
                            class="btn btn-outline-primary" data-toggle="modal" data-target="#disenroll">
                        <i class="fa fa-minus-circle"></i>참가 신청 취소
                    </button>
                    <span class="text-success" th:if="${event.isAttended(#authentication.principal)}" disabled>
                        <i class="fa fa-check-circle"></i>참석 완료
                    </span>
                </span>
            </div>
            <div class="modal fade" id="disenroll" tabindex="-1" role="dialog" aria-labelledby="leaveTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="model-header">
                            <h5 class="modal-title" id="leaveTitle" th:text="${event.title}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-3 justify-content-center">
            <div class="col-7 pt-3">
                <dt class="font-weight-light">상세 모임 설명</dt>
                <dd th:utext="${event.description}"></dd>
                <dt class="font-weight-light">모임 참가 신청 (<span th:text="${event.enrollments.size()}"></span>)</dt>
                <dd>
                    <table class="table table-borderless table-sm" th:if="${event.enrollments.size() > 0}"></table>
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">참석자</th>
                            <th scope="col">참가 신청 일시</th>
                            <th scope="col">참가 상태</th>
                            <th th:if="${study.isManager(#authentication.principal)}" scope="col">참가 신청 관리</th>
                            <th th:if="${study.isManager(#authentication.principal)}" scope="col">출석 체크</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="col">#</th>
                        </tr>
                        <tr>
                            <th scope="col">참석자</th>
                        </tr>
                        <tr>
                            <th scope="col">참가 신청 일시</th>
                        </tr>
                        <tr>
                            <th scope="col">참가 상태</th>
                        </tr>
                        <tr>
                            <th th:if="${study.isManager(#authentication.principal)}" scope="col">참가 신청 관리</th>
                        </tr>
                        <tr>
                            <th th:if="${study.isManager(#authentication.principal)}" scope="col">출석 체크</th>
                        </tr>
                    </tbody>
                    </table>
                </dd>
            </div>
            <dl class="col-3 text-right">
                <dt class="font-weight-light">모집방범</dt>
                <dd>
                    <span th:if="${event.eventType == T(com.studyolle.demo.domain.EventType).FCFS}">선착순</span>
                    <span th:if="${event.eventType == T(com.studyolle.demo.domain.EventType).CONFIRMATIVE}">관리자 확인</span>
                </dd>
                <dt class="font-weight-light">모집인원</dt>
                <dd>
                    <span th:if="${event.limitOfEnrollments != 0}">
                        <span th:text="${event.limitOfEnrollments}"></span>명
                    </span>
                    <span th:if="${event.limitOfEnrollments==0}">무제한</span>
                </dd>
                <dt class="font-weight-light">참가 신청 마감 일시</dt>
                <dd>
                    <span class="date" th:text="${event.endEnrollmentDateTime}"></span><br/>
                    <span class="weekday" th:text="${event.endEnrollmentDateTime}"></span>
                    <span class="time" th:text="${event.endEnrollmentDateTime}"></span>
                </dd>
                <dt class="font-weight-light">모임 일시</dt>
                <dd>
                    <span class="date" th:text="${event.startDateTime}"></span><br/>
                    <span class="time" th:text="${event.startDateTime}"></span>
                    <span class="time" th:text="${event.endDateTime}"></span>
                </dd>
                <dt class="font-weight-light">모임장</dt>
                <dd>
                    <a></a>
                </dd>
                <dt th:if="${study.isManager(#authentication.principal)}" class="font-weight-light">모임 관리</dt>
                <dd th:if="${study.isManager(#authentication.principal)}">
                    <a>

                    </a><br/>
                    <a>

                    </a>

                </dd>
            </dl>
            <div class="modal fade" id="cancel" tabindex="-1" role="dialog" aria-labelledby="leaveTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="model-header">
                            <h5 class="modal-title" id="cancelTitle" th:text="${event.title}"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        <div th:replace="fragments.html :: footer"></div>
    </div>
    <script th:replace="fragments.html :: form-validation"></script>
    <script th:replace="fragments.html :: editor-script"></script>
    <script src="/node_modules/moment/min/moment-with-locales.min.js"></script>
    <script type="application/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();

            moment.locale('ko');
            $(".date-time").text(function (index, dateTime) {
                return moment(dataTime, "YYYY-MM-DD'T'hh:mm").format('LLL');
            });
            $(".date").text(function (index, dateTime) {
                return moment(dataTime, "YYYY-MM-DD'T'hh:mm").format('LL');
            });
            $(".weekday").text(function (index, dateTime) {
                return moment(dataTime, "YYYY-MM-DD'T'hh:mm").format('dddd');
            });
            $(".time").text(function (index, dateTime) {
                return moment(dataTime, "YYYY-MM-DD'T'hh:mm").format('LT');
            });
        })
    </script>
</body>

</html>